.top {
  background-image: url(/_static/images/img_main01.png);
}

.question-mark {
  background-color: #FEB1BD;
}

.question-option-contents {
  max-width: 308px;
  width: 100%;
  margin: 20px auto 0 auto;
  padding-bottom: 28.5px;
  border-bottom: 2px solid #DFDFDF;
}

@media screen and (max-width:375px) {
  .question-option-contents {
    margin: 16px auto 0 auto;
    padding-bottom: 84.5px;
  }
}

.question-option-upper-content {
  display: flex;
  justify-content: space-between;
}

.question-option-button {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center
}

.question-option-button#exactly {
  max-width: 150px;
  width: 100%;
  height: 47px;
  background-color: #FA7E84;
  box-shadow: 0 5px #E45F65;
  border-radius: 5px;
}

.question-option-button#notReally {
  max-width: 150px;
  width: 100%;
  height: 47px;
  margin-left: 8px;
  background-color: #FEAAAE;
  box-shadow: 0 5px #FA7E84;
  border-radius: 5px;
}

.question-option-button#wellLikeThat {
  max-width: 308px;
  width: 100%;
  height: 47px;
  margin-top: 27px;
  color: #FA7E84;
  background-color: #FFE9E9;
  box-shadow: 0 5px #FFC9C9;
  border-radius: 5px;
}

#questionProgressNumber {
  color: #FA7E84;
}

::-webkit-progress-value {
  background-color: #FA7E84;
  border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #DFDFDF;
  border-radius: 10px;
}

.result h2 {
  background-color: #F97E84;
}

.result h2::after {
  border-top: 12px solid #F97E84;
}

.result-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}

@media screen and (max-width:375px) {
  .result-contents {
    justify-content: space-evenly;
  }
}

.result-content {
  display: flex;
  flex-direction: column;
}

.result-content .score {
  margin-top: 8px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
}

@media screen and (max-width:375px) {
  .result-content .score {
    width: 100px;
    height: 102px;
  }
}

.result-content .score .score-text {
  font-family: "Lobster", sans-serif;
  font-size: 73px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:375px) {
  .result-content .score .score-text {
    font-size: 56px;
    height: 70px;
  }
}

.result-content .score .dot {
  text-align: center;
  font-size: 23px;
  line-height: 34px;
  margin-top: -15px;
}

@media screen and (max-width:375px) {
  .result-content .score .dot {
    font-size: 17px;
    line-height: 25px;
    margin-top: -10px;
  }
}

.result-content .chara-img {
  margin: 12px auto 0 auto;
  max-width: 116px;
  width: 100%;
  height: 127.5px;
}

@media screen and (max-width:375px) {
  .result-content .chara-img {
    margin: 8.88px auto 0 auto;
    max-width: 90.2px;
    width: 100%;
    height: 99.14px;
  }
}

.result-content .chara-img img {
  width: 100%;
  height: 100%;
}