@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-ExtraBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "M+1p";
  src: url(/_static/font/M_PLUS_1p/MPLUS1p-Black.ttf);
  font-weight: 700;
}

.is-pc {
  display: block;
}

.is-sp {
  display: none !important;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "M+1p", Meiryo, sans-serif;
  font-weight: 300;
  color: #343434;
  background: #fff;
}

body header {
  position: relative;
  z-index: 40;
  background: #fff;
  height: 80px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

body header .wrapper {
  font-size: 16px;
  max-width: 1024px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .wrapper .header-nav-wrap .logo {
  margin-right: 45px;
}

body header .wrapper .header-nav-wrap .logo img {
  width: 110px;
  height: 25px;
}

body header .wrapper .header-nav-wrap #Hamburger {
  z-index: 50;
  display: block;
  position: absolute;
  top: 0px;
  left: 13px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header .wrapper .header-nav-wrap #Hamburger span {
  display: block;
  position: absolute;
  left: 12px;
  width: 26px;
  height: 2px;
  background: #ea5419;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}

body header .wrapper .header-nav-wrap #Hamburger #line1 {
  top: 16px;
}

body header .wrapper .header-nav-wrap #Hamburger #line2 {
  top: 24px;
}

body header .wrapper .header-nav-wrap #Hamburger #line3 {
  bottom: 16px;
}

body header .wrapper .header-nav-wrap #SpNav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 13px;
  padding-right: 12px;
}

body header .wrapper .header-nav-wrap #SpNav .logo {
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
}

body header .wrapper .header-nav-wrap #SpNav ul {
  margin-bottom: 30px;
}

body header .wrapper .header-nav-wrap #SpNav ul :not(:first-child) {
  margin-top: 10px;
}

body header .wrapper .header-nav-wrap #SpNav ul li a {
  display: block;
  width: 270px;
  height: 40px;
  padding: 9px 0px 9px 17px;
}

body header .wrapper .header-nav-wrap .in {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

body header .wrapper .header-nav-wrap .line_1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 24px !important;
}

body header .wrapper .header-nav-wrap .line_2 {
  opacity: 0;
}

body header .wrapper .header-nav-wrap .line_3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 24px !important;
}

body header .wrapper .header-nav-wrap nav ul :not(:first-child) {
  margin-left: 45px;
}

body header .wrapper .header-button-wrap a {
  width: 130px;
  height: 40px;
  border-radius: 5px;
}

body header .wrapper .header-button-wrap :not(:first-child) {
  margin-left: 15px;
}

body header .wrapper .header-button-wrap .login {
  background: #fff;
  border: solid 2px #ea5419;
  color: #ea5419;
}

body header .wrapper .header-button-wrap .register {
  background: #ea5419;
  border: none;
  color: #fff;
}

body footer {
  position: relative;
  z-index: 0;
  background: #efefef;
  height: 50px;
  font-size: 12px;
}

body footer .wrapper ul {
  width: 697px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body footer .wrapper ul p {
  color: #9a9a9a;
}

body footer .wrapper p.is-sp {
  color: #9a9a9a;
  margin-top: 13px;
}

.form-chank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-chank input {
  height: 48px;
  border-radius: 5px;
}

.form-chank input::-webkit-input-placeholder {
  color: #9a9a9a;
}

.form-chank input:-ms-input-placeholder {
  color: #9a9a9a;
}

.form-chank input::-ms-input-placeholder {
  color: #9a9a9a;
}

.form-chank input::placeholder {
  color: #9a9a9a;
}

ol.normal {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: decimal;
}

.form-chank input:not(:first-child) {
  margin-top: 15px;
}

.form-chank .textbox {
  width: 540px;
  background: #f6f6f6;
  padding-left: 17px;
  font-size: 14px;
}

.form-chank .textarea {
  resize: none;
  padding: 8px 17px;
  margin-top: 8px;
  border-radius: 5px;
  width: 540px;
  height: 160px;
  background: #f6f6f6;
}

.form-chank .radiobutton {
  margin-top: 15px;
  margin-right: auto;
  position: relative;
  padding: 5px 0 5px 10px;
}

.form-chank .radiobutton .radio-input {
  display: none;
}

.form-chank .radiobutton .radio-input + label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
}

.form-chank .radiobutton .radio-input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #f6f6f6;
  border-radius: 50%;
}

.form-chank .radiobutton .radio-input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #343434;
  border-radius: 50%;
}

.form-chank .radiobutton .radio-input {
  margin-top: 0;
}

.form-chank .terms-area {
  margin-top: 15px;
}

.form-chank .terms-area-title {
  text-align: center;
  font-size: 19px;
  color: #646464;
  margin-bottom: 5px;
}

.terms-description {
  margin: 10px auto 0 auto;
  max-width: 1024px;
  width: 100%;
}

.form-chank .terms-area-content {
  height: 344px;
  background: #f6f6f6;
  color: #343434;
  font-size: 14px;
  line-height: 21px;
  padding: 8px;
  border-radius: 5px;
  overflow-y: scroll;
}

.terms-contents {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.terms-content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-chank .terms-area-content .heading {
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-chank .terms-area-content .contents .content .content-heading {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-chank .terms-area-content .corporate-name {
  text-align: right;
}

.form-chank .checkbox {
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-chank .checkbox input[type="checkbox"] {
  display: none;
}

.form-chank .checkbox-label {
  display: inline-block;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
}

.form-chank .checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 5px;
}

.form-chank-small {
  max-width: 1024px;
  font-size: 14px;
  margin-bottom: 100px;
}

.form-chank-small h2 {
  margin-top: 38px;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #343434;
}

.form-chank-small .under-area {
  font-size: 12px;
  line-height: 18px;
  padding-top: 15px;
  padding-left: 12px;
  width: 788px;
}

.form-chank-small .form-content {
  border-bottom: 2px solid #ededed;
}

.form-chank-small .form-content input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.form-chank-small .form-content .pref {
  width: 150px;
}

.form-chank-small .form-content select {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 500px;
  height: 24px;
  padding-left: 5px;
  background-image: url(/_static/images/select-arrow.png);
  background-repeat: no-repeat;
  background-size: 9px 5px;
  background-position: right 11px center;
}

.form-chank-small .form-content input {
  width: 500px;
  height: 24px;
  padding-left: 5px;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.form-chank-small .form-content .short {
  width: 270px;
}

.form-chank-small .form-content textarea {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 500px;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 20px;
  resize: none;
  padding: 6px;
}

.form-chank-small .form-content textarea.small {
  height: 60px;
}

.form-chank-small .form-content .right {
  width: 500px;
}

.form-chank-small .form-content .bold {
  font-weight: 500;
}

.form-chank-small .form-content .right .radio-input {
  width: 16px;
  height: 16px;
}

.form-chank-small .form-content .right label {
  padding: 0;
  width: 35px;
  margin-left: 8px;
  margin-right: 10px;
}
.form-chank-small .form-content .right .sentence {
  margin-top: 15px;
  margin-bottom: 20px;
}

.form-chank-small .form-content .right p {
  margin-right: 5px;
}

.form-chank-small .form-content .right p:not(:first-child) {
  margin-left: 25px;
}

.form-chank-small .form-content .right .right-date {
  width: 150px;
}

.form-chank-small .form-content .right .right-time {
  width: 100px;
}

.form-chank-small .form-content .right .annotation {
  color: #707070;
  font-size: 10px;
  position: absolute;
  margin-top: -16px;
}

.form-chank-small .form-content .born input {
  width: 70px;
}

.form-chank-small .form-content .born p {
  margin-left: 5px;
  margin-right: 8px;
}

.form-chank-small .form-content .post-code {
  width: 150px;
  margin-right: 10px;
}

.form-chank-small .form-content .address .annotation {
  color: #707070;
  font-size: 10px;
  position: absolute;
  margin-top: 3px;
}

.form-chank-small .form-content .file-button {
  width: auto;
  font-size: 12px;
  border-radius: 3px;
  border: solid 1px #707070;
  padding: 4px 8px;
}

.form-chank-small .form-content label {
  position: relative;
  width: 300px;
  padding: 17px 0px 23px 12px;
}

.form-chank-small .form-content label .requied {
  position: absolute;
  color: #fe6f6f;
  font-size: 10px;
  border: 1px solid #fe6f6f;
  padding: 1px 10px 2px;
  border-radius: 9999px;
  top: 38px;
  left: 12px;
}

.form-chank-small .form-content .middle-category {
  width: 270px;
}

.form-chank-small .button-wrapper {
  flex-direction: column;
  width: 350px;
  margin-top: 50px;
}

.form-chank-small .button-wrapper .button {
  text-align: center;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #ea5419;
}

.form-chank-small .button-wrapper .button-reverse {
  color: #ea5419;
  background-color: #fff;
  border: solid 2px #ea5419;
}

.form-chank-small .button-wrapper .button:not(:first-child) {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .terms-title {
    margin: 24px 12px 0 24px;
    max-width: 339px;
  }

  .terms-heading {
    margin: 9px 12px 0 24px;
    max-width: 339px;
    height: auto;
    line-height: 25px;
  }

  .terms-description {
    margin: 16px 12px 0 24px;
    max-width: 339px;
  }

  .terms-contents {
    margin: 12px 12px 0 24px;
    max-width: 339px;
  }

  .corporate-name {
    margin: 20px 12px 30px 24px;
    max-width: 330px;
    font-size: 13px;
  }

  .corporate-name:last-child {
    margin-bottom: 57px;
  }
}

/* イベント　一覧 */
.event-contents {
  margin: 1px auto 50px auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.event-content {
  margin-top: 42px;
  max-width: 430px;
  width: 100%;
  height: 92px;
  display: flex;
}

.event-content:nth-child(even) {
  margin-right: 39px;
}

.event-date {
  max-width: 47px;
  width: 100%;
  height: 41.37px;
  border-right: 1px solid #707070;
  font-size: 14px;
  line-height: 21px;
}

.event-date span {
  font-size: 20px;
  font-weight: 500;
}

.event-detail {
  display: flex;
  flex-direction: column;
}

.event-time {
  font-size: 13px;
  font-weight: 500;
  color: #636363;
}

.event-prefecture {
  margin-top: 5px;
  font-size: 13px;
  color: #9a9e9a;
}

.event-category {
  margin-top: 5px;
  font-size: 17px;
  color: #3d3d3d;
}

.event-title {
  margin-top: 5px;
  font-size: 13px;
  color: #9a9e9a;
}

.event-owner {
  max-width: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.event-owner-img {
  width: 65px;
  height: 65px;
  border-radius: 33px;
}

.event-owner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 33px;
}

.event-owner-name {
  margin-top: 9px;
  font-size: 13px;
  line-height: 23px;
  color: #9a9e9a;
  text-align: center;
}

@media (max-width: 768px) {
  .event-contents {
    margin: 9px auto 51px auto;
    max-width: 325px;
    flex-direction: column;
  }

  .event-content {
    margin-top: 22px;
    max-width: 325px;
  }

  .event-content:nth-child(even) {
    margin-right: 0;
  }
}

/* 主催者一覧 */
.owner-contents {
  margin: 1px auto 0 auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.owner-content {
  margin-top: 33px;
  max-width: 430px;
  width: 100%;
  display: flex;
}

.owner-content:nth-child(odd) {
  margin-left: 38px;
}

.owner-img {
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 53px;
}

.owner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 53px;
}

.owner-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.owner-profile {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.owner-name {
  margin-top: 0;
  font-size: 15px;
}

.comprehensive-evaluation {
  font-size: 12px;
  color: #646464;
}

.comprehensive-evaluation span {
  margin-left: 48px;
  font-size: 12px;
  color: #000000;
}

.star {
  max-width: 115px;
  width: 100%;
  height: 20px;
}

.star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owner-description {
  margin-top: 15px;
  max-width: 310px;
  width: 100%;
  font-size: 12px;
  color: #3e3e3e;
}

@media (max-width: 768px) {
  .owner-contents {
    margin-top: 0;
    max-width: 326px;
    flex-direction: column;
  }

  .owner-content {
    margin-top: 41px;
    max-width: 326px;
  }

  .owner-content:nth-child(odd) {
    margin-left: 0;
  }

  .owner-content:nth-child(2) {
    margin-top: 30px;
  }

  .owner-img {
    max-width: 60px;
    height: 60px;
  }

  .owner-details {
    margin-left: 11px;
  }

  .owner-description {
    margin-top: 8px;
    max-width: 255px;
  }
}

/* /主催者一覧 */

.form-chank .checkbox input[type="checkbox"]:checked + .checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 6.5px;
  height: 11.5px;
  border-right: solid 2px #ea5419;
  border-bottom: solid 2px #ea5419;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-chank .button {
  width: 350px;
  background: #ea5419;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 768px) {
  .is-pc {
    display: none !important;
  }
  .is-sp {
    display: block !important;
  }
  body header {
    height: 50px;
  }
  body header .wrapper .header-nav-wrap {
    margin-right: auto;
    margin-left: auto;
  }
  body header .wrapper .header-nav-wrap .logo {
    margin-right: 0;
  }
  body header .wrapper .header-button-wrap a {
    width: 170px;
  }
  body header .wrapper .header-button-wrap :not(:first-child) {
    margin-left: 10px;
  }
  body footer {
    height: auto;
    padding: 30px 0px 12px 30px;
  }
  body footer .wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: 0;
  }
  body footer .wrapper ul {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: auto;
  }
  body footer .wrapper ul :not(:first-child) {
    margin-top: 20px;
  }
  body .form-chank .textbox {
    width: 350px;
  }
  body .form-chank .textarea {
    width: 350px;
  }
  .form-chank-small {
    max-width: 350px;
  }
  .form-chank-small .form-content {
    flex-direction: column;
  }
  .form-chank-small .form-content label {
    width: 350px;
    padding: 15px 0px 5px 12px;
  }
  .form-chank-small .form-content label .requied {
    position: static;
    margin-left: 8px;
  }
  .form-chank-small .form-content input {
    width: 326px;
    margin-bottom: 12px;
  }
  .form-chank-small .form-content .middle-category {
    width: 326px;
    margin-bottom: 12px;
  }
  .form-chank-small .form-content .right {
    width: 326px;
    margin-bottom: 12px;
  }
  .form-chank-small .form-content .right input {
    margin-bottom: 0;
  }
  .form-chank-small .form-content .right .right-date {
    width: 100px;
  }
  .form-chank-small .form-content .right .right-time {
    width: 60px;
  }
  .form-chank-small .form-content .right p {
    margin-right: 3px;
  }
  .form-chank-small .form-content .right p:not(:first-child) {
    margin-left: 5px;
  }
  .form-chank-small .form-content input[type="checkbox"] {
    margin-left: 12px;
    margin-right: auto;
  }
  .form-chank-small .form-content .pref {
    width: 326px;
    margin-bottom: 12px;
  }
  .form-chank-small .form-content .address {
    width: 326px;
  }
  .form-chank-small .form-content .address input {
    margin-bottom: 0;
  }
  .form-chank-small .form-content .address .annotation {
    position: static;
    margin-bottom: 12px;
  }
  .form-chank-small .form-content .file-button {
    margin-left: 12px;
    margin-right: auto;
  }
  .form-chank-small .form-content textarea {
    width: 326px;
    height: 135px;
    margin-top: 0px;
    margin-left: 12px;
    margin-bottom: 12px;
  }
  .form-chank-small .under-area {
    width: 336px;
  }
  .form-chank-small .form-content .short {
    width: 326px;
  }
  .form-chank-small .form-content .right .annotation {
    margin-top: -6px;
    margin-left: 12px;
  }
  .form-chank-small .form-content .born p {
    margin-left: 5px;
    margin-right: 8px;
  }
  .form-chank-small .form-content .post-code {
    width: 326px;
    margin-right: 0;
  }
}
