@media (max-width: 768px) {
  main {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
}

.legal-table {
  margin-bottom: 118px;
}

.legal-table tr {
  height: 50px;
}

.legal-table td {
  vertical-align: middle;
  padding: 15px;
  font-size: 14px;
  line-height: 21px;
}

.legal-table-heading {
  width: 245px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .legal-table-heading {
    width: 104px;
  }
}

