main {
  height: calc(100vh - 80px - 50px);
}

.owner-event-heading {
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 6px;
  max-width: 1024px;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid #343434;
}

.owner-event-table table{
  margin: 32px auto 0 auto;
  max-width: 1024px;
  width: 100%;
}

.owner-event-table thead tr th {
  padding: 0 12px 12px 0;
  height: 26px;
  font-size: 13px;
  color: #383737CE;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #D5D5D5;
  vertical-align: middle;
  text-align: center;
}

.owner-event-table thead tr th:last-child {
  text-align: right;
}

.owner-event-table thead tr th .create-event-button {
  width: 101px;
  height: 26px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #2185D0;
  border-radius: 4px;
  text-align: center;
}

.owner-event-table tbody tr  {
  border-bottom: 2px solid #EDEDED;
}

.owner-event-table tbody tr td {
  padding: 18px 12px 21px 0;
  font-size: 13px;
  color: #383737CE;
  vertical-align: middle;
  text-align: center;
}

.public-page-button {
  width: 72px;
  height: 24px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #2185D0;
  border-radius: 4px;
  text-align: center;
}

.detail-button,
.edit-button {
  width: 42px;
  height: 24px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #2185D0;
  border-radius: 4px;
  text-align: center;
}

.delete-button {
  width: 42px;
  height: 24px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #D57BB5;
  border-radius: 4px;
  text-align: center;
}

@media (max-width: 768px) {
  .owner-event-heading {
    max-width: 350px;
    margin-left: 13px;
    padding-top: 20px;
  }

  .owner-event-table {
    margin-left: 13px;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .owner-event-table::-webkit-scrollbar {
    display: none;
  }

  .owner-event-table thead tr th {
    padding-top: 16px;
  }
}